<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TorrentUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TorrentUploader.Properties.Settings>
            <setting name="ServerAddress" serializeAs="String">
                <value>{{SERVERADDRESS}}</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>{{USERNAME}}</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>{{PASSWORD}}</value>
            </setting>
            <setting name="FlashWindowOnComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseWindowOnComplete" serializeAs="String">
                <value>False</value>
            </setting>
        </TorrentUploader.Properties.Settings>
    </applicationSettings>
</configuration>